<div class="row">
    <div class="col-lg-6 bg-white">
        <h3>{{ 'MSC.register'|trans([],'contao_default') }}</h3>

        {% if messages|default %}
            <div class="cebb_checkout__message-box">
                {{ messages|raw }}
            </div>
        {% endif %}

        {#
        Get the event model from request.
        #}
        {% set event = cebb_event_get_event() %}

        <div class="cebb_checkout__free-seats-indicator">
            <div class="cebb_checkout__free-seats">{{ 'MSC.seats_available'|trans([], 'contao_default') }}: {{ cebb_event_get_number_free_seats(event.id, false) }}</div>
            {% if cebb_event_get_number_free_seats(event.id, false) == 0 and cebb_event_get_number_free_seats_waiting_list(event.id, false) > 0 %}
                <div class="cebb_checkout__free-seats-waiting-list">{{ 'MSC.seats_available_waiting_list'|trans([], 'contao_default') }}: {{ cebb_event_get_number_free_seats_waiting_list(event.id, false) }}</div>
            {% endif %}
        </div>

        {% if bookingAvailabilityExplain|default %}
            <div class="cebb_checkout__booking-availability-explain">
                {{ bookingAvailabilityExplain }}
            </div>
        {% endif %}

        {% if form|default and canRegister|default %}
            <div class="cebb_checkout__booking-form">
                {{ form|raw }}
            </div>
        {% endif %}
    </div>

    <div class="cebb_checkout__cart col-lg-6">
        <form enctype="application/x-www-form-urlencoded" method="post">
            <input type="hidden" name="FORM_SUBMIT" value="cebb_remove_participant">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ csrf_token }}">
            {% if registrations|default %}
                <h3>{{ 'MSC.your_registrations'|trans([],'contao_default') }}</h3>
                <div class="row">
                    {% for registration in registrations %}
                        <div class="col-8">
                            <div class="row mb-4">
                                <div class="col-12">
                                    <span class="cebb_checkout__registration-listing-firstname">{{ registration.firstname|default }}</span>&nbsp;<span class="cebb_checkout__registration-listing-lastname">{{ registration.lastname|default }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="cebb_checkout__registration-listing-street">{{ registration.street|default }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="cebb_checkout__registration-listing-postal">{{ registration.postal|default }}</span>&nbsp;<span class="cebb_checkout__registration-listing-city">{{ registration.city|default }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="cebb_checkout__registration-listing-email">{{ registration.email|default }}</span>
                                </div>
                                <div class="col-12">
                                    <span class="cebb_checkout__registration-listing-quantity">{{ registration.quantity|default }} {{ 'MSC.tickets'|trans([], 'contao_default') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <button name="cebb::delete_participant_btn" value="{{ registration.uuid }}" class="btn btn-danger">{{ 'MSC.delete'|trans([],'contao_default') }}</button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
    <div class="col-12">
        <div class="cebb_checkout__btn-row mt-5">
            {% if previousStepHref|default %}
                <div class="cebb_checkout__step-btn cebb_checkout__prev-step-btn d-grid">
                    <a href="{{ previousStepHref }}" class="btn btn-danger">{{ 'BTN.cebb_go_back_lbl'|trans([],'contao_default') }}</a>
                </div>
            {% endif %}
            {% if nextStepHref|default %}
                <div class="cebb_checkout__step-btn cebb_checkout__next-step-btn d-grid">
                    <a href="{{ nextStepHref }}" class="btn btn-danger">{{ 'BTN.cebb_continue_lbl'|trans([],'contao_default') }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
