<div class="row">
    <div class="col-lg-6 bg-white">
        <h3>{{ 'MSC.finalize_registration'|trans([],'contao_default')|capitalize }}</h3>

        {% if messages|default %}
            <div class="cebb_checkout__message-box">
                {{ messages|raw }}
            </div>
        {% endif %}

        {% if form|default %}
            {{ form|raw }}
        {% endif %}
    </div>
    <div class="col-lg-6">
        {% if registrations|default %}
            <h3>{{ 'MSC.your_registrations'|trans([],'contao_default') }}</h3>
            <div class="row">
                {% for registration in registrations %}
                    <div class="col-12">
                        <div class="row mb-4">
                            <div class="col-12">
                                <span class="cebb_checkout__registration-listing-firstname">{{ registration.firstname|default }}</span>&nbsp;<span class="cebb_checkout__registration-listing-lastname">{{ registration.lastname|default }}</span>
                            </div>
                            <div class="col-12">
                                <span class="cebb_checkout__registration-listing-street">{{ registration.street|default }}</span>
                            </div>
                            <div class="col-12">
                                <span class="cebb_checkout__registration-listing-postal">{{ registration.postal|default }}</span>&nbsp;<span class="cebb_checkout__registration-listing-city">{{ registration.city|default }}</span>
                            </div>
                            <div class="col-12">
                                <span class="cebb_checkout__registration-listing-email">{{ registration.email|default }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="col-12">
        <div class="cebb_checkout__btn-row mt-5">
            {% if previousStepHref|default %}
                <div class="cebb_checkout__step-btn cebb_checkout__prev-step-btn d-grid">
                    <a href="{{ previousStepHref }}" class="btn btn-danger">{{ 'BTN.cebb_go_back_lbl'|trans([],'contao_default') }}</a>
                </div>
            {% endif %}

            {% if nextStepHref|default %}
                <div class="cebb_checkout__step-btn cebb_checkout__next-step-btn d-grid">
                    <a href="{{ nextStepHref }}" class="btn btn-danger">{{ 'BTN.cebb_continue_lbl'|trans([],'contao_default') }}</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
