{% extends '@Contao/block_unsearchable' %}

{% block content %}
    {% if blnUnsubscribed %}
        <p class="cebb_unsubscribe__onsuccess-info">{{ 'MSC.unsubscribe_info'|trans([event.title], 'contao_default') }}</p>
    {% else %}
        {% if hasError %}
            <div class="cebb_unsubscribe__error-message">
                {% for error in errorMsg %}
                    <p class="error">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>
        {% else %}
            <p class="cebb_unsubscribe__confirm-message">
                {{ 'MSC.unsubscribe_confirm'|trans([member.firstname,member.lastname,event.title], 'contao_default')|raw }}
            </p>
            <div class="cebb_unsubscribe__form">
                <form action="{{ app.request.getUri() }}" id="{{ formId }}" method="post">
                    <div class="formbody">
                        <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
                        <input type="hidden" name="REQUEST_TOKEN" value="{{ request_token }}">

                        <div class="widget widget-submit">
                            <button type="submit" class="submit">{{ 'BTN.unsubscribe_from_event_submit_lbl'|trans({}, 'contao_default') }}</button>
                        </div>
                        <p><a href="{{ '{{env::url}}' }}">{{ 'MSC.cancelBT'|trans({}, 'contao_default') }}</a></p>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
